.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  flex: 1;
  gap: var(--spacing-lg);

  h1 {
    font-size: var(--font-size-lg);
  }

  .registerLink {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacing-xxxs);
    font-size: var(--font-size-xs);
    transform: translateY(-8px);

    a {
      color: var(--primary-main);
      font-weight: 500;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: var(--primary-dark);
      }
    }
  }
}