:root.dark,
:root.light {
  --primary-main: #845ef7;
  --primary-light: #9775fa;
  --primary-dark: #7950f2;

  --secondary-main: #6c757d;
  --secondary-light: #82868b;
  --secondary-dark: #515556;

  --error-main: #FF6B6B;
  --error-light: #FF8787;
  --error-dark: #FA5252;

  --success-main: #51CF66;
  --success-light: #69DB7C;
  --success-dark: #40C057;

  --warning-main: #ffd75e;
  --warning-light: #ffe28a;
  --warning-dark: #ffcd36;

  --default-main: #ced4da;
  --default-light: #adb5bd;
  --default-dark: #868e96;

  --white: #FFFFFF;
  --black: #000000;
}