:root {
  --zindex-deep: -9999;
  --zindex-behinde: -1;
  --zindex-auto: 'auto';
  --zindex-base: 0;
  --zindex-docked: 10;
  --zindex-stick: 100;
  --zindex-overlay: 1000;
  --zindex-modal: 2000;
  --zindex-dropdown: 3000;
  --zindex-popover: 4000;
  --zindex-tooltip: 5000;
  --zindex-toast: 6000;
}