:root.dark {
  --background-primary: #141414;
  --background-secondary: #1f1f1f;
  --background-tertiary: #2d2d2d;

  --text-primary: #faf9f7;
  --text-secondary: rgba(255, 255, 255, 0.84);
  --text-tertiary: rgba(255, 255, 255, 0.64);

  --transparent-4: rgba(255, 255, 255, 0.04);
  --transparent-8: rgba(255, 255, 255, 0.08);
  --transparent-16: rgba(255, 255, 255, 0.16);
  --transparent-24: rgba(255, 255, 255, 0.24);
  --transparent-32: rgba(255, 255, 255, 0.32);
  --transparent-48: rgba(255, 255, 255, 0.48);
  --transparent-64: rgba(255, 255, 255, 0.64);
  --transparent-74: rgba(255, 255, 255, 0.74);
  --transparent-80: rgba(255, 255, 255, 0.8);
  --transparent-94: rgba(255, 255, 255, 0.94);
}